[flake8]
per-file-ignores =
    __init__.py:F401,
    default_settings.py:E501,W505
ignore =
    E402,
    E203,
    W503
max-line-length = 120
exclude = .tox,.git
max-doc-length = 120
additional_dependencies =  [flake8-isort, flake8-builtins, flake8-docstrings]
docstring-convention=google
